.about-container {
    width: 50%;
    min-height: 500px;
    background: linear-gradient(135deg, #1e293b, #0f172a) !important;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
    color: #D1D5DB;
    border-radius: 10px;
    padding: 35px;
    margin-top: 30px;
    
}

.about-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
    margin-top: 100px;
    scroll-margin-top: 80px !important;
}

.title {
    font-weight: bold !important;
}

.cards-container {
    margin-top: 50px;
    width: 55% !important;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}

.card-box {
    background: linear-gradient(135deg, #1e293b, #0f172a) !important;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
    max-width: 200px;
    min-width: 180px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value {
    color: #60A5FA;
    font-weight: bold !important
}

@media (max-width: 1024px) {
    .about-container {
        width: 80%;
    }
    .cards-container {
        width:100% !important;
    }

    .card-box {
        min-width: 150px !important;
    }

}

@media (max-width: 768px) {
    .about-container {
        width: 80%;
    }

    .cards-container {
        width: 100% !important;
        flex-direction: column !important;
    }

    .card-box {
        margin-top: 20px !important;
    }
}
