.contact-container {
    padding: 4rem 2rem;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    margin-bottom: 40px !important;
}

.contact-info {
    flex: 1;
    background: linear-gradient(135deg, #1e293b, #0f172a) !important;
    color: #e0e0e0 !important;
    border-radius: 12px;
    padding: 1.7rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
    min-height: 480px;
}

.contact-section {
    display: flex !important;
    text-align: center;
    gap: 40px;
    width: 70% !important;
}

.contact-info h4 {
    color: #121826;
    margin-bottom: 1.5rem;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 2rem;
}

.info-title {
    color: #e0e0e0 !important;
    text-align: left;
    margin-bottom: 20px !important;
    font-weight: bold !important;
}

.contact-icons {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.contact-icons svg {
    cursor: pointer;
    color: #e0e0e0;
    transition: transform 0.3s ease, color 0.3s ease;
}

.contact-icons svg:hover {
    transform: scale(1.2);
    color: #e0e0e0;
}

/* Message Form Section */
.contact-form {
    flex: 1;
    background-color: #e0e0e0;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

.contact-form .MuiTextField-root {
    background-color: #f0f0f0;
    border-radius: 8px;
}

.contact-form .MuiButton-root {
    background-color: #e0e0e0;
    color: #ffffff;
    border-radius: 8px;
    margin-top: 1rem;
    transition: background 0.3s ease;
}

.email-link {
    color: #e0e0e0 !important;
    text-decoration: none !important;
}

.contact-form .MuiButton-root:hover {
    background-color: #1e1329;
}

.form-label {
    text-align: left;
    font-weight: 500 !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.form-input {
    margin: 0 !important;
    border-radius: 12px;
    background: #2b3749;
    color: #ffffff;
    padding: 10px 15px;
    outline: none;
}

.form-input::placeholder {
    color: #ffffff !important;
    opacity: 1;
}

.form-input::-webkit-input-placeholder {
    color: #ffffff !important;
    opacity: 1;
}

.submit-button {
    background-color: #2563eb !important;
    margin-top: 20px !important;
    text-transform: none !important;
    border-radius: 10px !important;
}

.success-message {
    color: #7ecc54 !important
}
@media (max-width: 768px) {
    .contact-container {
        padding: 0 !important;
        margin-bottom: 40px;
    }

    .contact-section {
        flex-direction: column;
    }
    .contact-section {
        width: 100% !important;
    }
}

@media (max-width: 1024px) {
    .contact-section {
        width: 100% !important;
    }
    .contact-container {
        padding: 0 !important;
        margin-bottom: 40px;
    }
}